.container {
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
max-width: auto;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 363px;
  margin: 25px;
}

.data h5 {
  
  font-weight: lighter;
}

.sum {
  margin: 25px;

}
.img {
  width: auto;
}

.time {
  margin-top: 10px;
}

